# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/dist-ssr
/build

# misc
.DS_Store
*.pem
*.pdb

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# build output
target/
src-tauri/target/
src-tauri/cargo-lock

# model cache
models/CACHEDIR.TAG
models/models--openai--whisper-tiny/blobs/*
models/models--openai--whisper-tiny/refs/*
models/models--openai--whisper-tiny/.no_exist
**models--openai--whisper-tiny/**/*.pt
**models--openai--whisper-tiny/**/*.bin

# build tools
.vs_buildtools.exe
